;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:repl {:target :node-library
         :output-to "build/repl/runtime.js"
         :exports {:archive serverless.core/archive}}
  :lambda {:target :node-library
           :output-to "build/release/handler.js"
           :exports {:archive serverless.core/archive}}}}
