{:secrets #profile {:dev #include #join [#env HOME "/.secrets.edn"]}
 
 :trello {:api-url "https://api.trello.com"
          :api-token #profile {:prod #env "TRELLO_API_TOKEN"
                               :dev #ref [:secrets :trello-api-token]}
          :api-key #profile {:prod #env "TRELLO_API_KEY"
                             :dev #ref [:secrets :trello-api-key]}}}